{% extends 'base/base.html' %}
{% block content %}
<div class="container">
<h1>Jeej TAGDETAIL van {{ object.name }}</h1>
<a href="{% url 'tag_create_note' 'tag' 'notes' object.pk %}">create note</a>


{% if persons %}
<h2>Persons:</h2>
    <ul>
    {% for person in persons %}
        <li><a href="{% url 'person_detail' pk=person.pk %}">{{person.full_name}}</a></li>
    {% endfor %}
    </ul>
{% endif %}


{% include 'source_tracker/lists/sourcelist.html' %}

{% include 'notes/note_section.html' %}

</div>
{% endblock %}