{% load analytical %}
{% load static %}
{% load staticfiles %}
<html>
<head>
{% analytical_head_top %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type='text/css' href="{% static 'interface/css/base.css' %}">
{% block head %}
{% endblock %}
{% analytical_head_bottom %}
</head>

<body>
{% analytical_body_top %}
<header>
    <ul>
        <li><a href="{% url 'index' %}">Letsgohome</a></li>
        <li><a href="{% url 'sourcetracker:source_tracker_home' %}">SOURCE</a></li>
        <li><a href="{% url 'persontracker:person_tracker_home' %}">PERSONS</a></li>
        <li><a href="{% url 'notes:tag_overview' %}">TAGS</a></li>
    </ul>
</header>
{% block content %}
{% endblock %}
{% analytical_body_bottom %}
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
