{% extends 'base/base.html' %}
{% block content %}
<h1>Jeej sourcetrackerhome</h1>

    <a href="{% url 'book_create' %}">Add book</a>
    <a href="{% url 'pamphlet_create' %}">Add pamphlet</a>
    <a href="{% url 'article_create' %}">Add article</a>

    {% if  books %}
        <h2>Books:</h2>
        {% for book in books %}
        <a href="{% url 'book_detail' pk=book.pk %}">{{book.title}}</a>
        {% endfor %}
    {% endif %}

    {% if  articles %}
        <h2>Articles:</h2>
        {% for article in articles %}
        <a href="{% url 'article_detail' pk=article.pk %}">{{article.title}}</a>
        {% endfor %}
    {% endif %}

    {% if  pamphlets %}
        <h2>Pamphlets:</h2>
        {% for pamphlet in pamphlets %}
        <a href="{% url 'pamphlet_detail' pk=pamphlet.pk %}">{{pamphlet.title}}</a>
        {% endfor %}
    {% endif %}

{% endblock %}