{% extends 'base/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">

            <h1 align="center">Index</h1>
            <p align="center">Mijn kamer is nog beter ingericht dan deze website</p>

        </div>
    </div>


    <div class="row">
        <div class="col-md">
        <h2>Tags</h2>
        <hr>
        {% for tag in tags %}
        <a href="{% url 'notes:tag_detail' pk=tag.pk %}">{{ tag.name }}</a><hr>
        {% endfor %}

        </div>

        <div class="col-md">
        <h2>Recent Notes:</h2>
        <hr>
        {% for note in notes %}
        <b><a href="{% url 'notes:note-detail' pk=note.pk%}">{{ note.added_on }}</a></b>
        {{ note.content|safe }}<hr>

        {% endfor %}

        </div>
    </div>

    <div id="root"></div>


</div>
{% endblock %}
